# Ignore VSCode remote server stuff
.vscode/
.vscode-server/
.cache/

# Object files
*.o
*.obj

# Executables
*.out
*.exe
*.elf
dlxsim

# Build artifacts
*.d
*.map
*.log

# Editor/IDE files
.vscode/
*.swp

# System files
.dotnet/corefx/cryptography/crls/
ece695/lab1/apps/work/
ece695/lab1/os/work/
ece695/lab1/vm
ece695/lab1/os/Makefile.depend

.bash_history
.config/pulse/
.lastlogin
ece695/lab1.tar.gz
